*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.module{

}

/*Верхний модуль*/

#top-container {
    width: 100%;
    height: 3.5vw;
    background: rgb( 41,78,152);
}

.flex-middle{
    width: 80%;
    height: inherit;
}

.center-block{
    margin-right: auto;
    margin-left: auto;
}

.link-to-start {
    font-size: 1.8vw;
    color: #fff;
    float: left;
    margin: 0.9%;
    font-family: 'Concert One', cursive;
}

/*Блок информации*/

.info-div {
    width: 90%;
    margin: 4% 3%;
}